# the gigantic word list
en.log
en.txt
# possibly unnecessary files
src/damerau/**

# compiled stuff
*target*
*.jar
*.war
*.ear
*.class

# eclipse stuff
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# external tool builders
.externalToolBuilders/

# locally stored "Eclipse launch configurations"
*.launch
/bin/
